@font-face {
    font-family: 'jetbrains_monoregular';
    src: url('fonts/jetbrainsmono-regular-webfont.woff2') format('woff2'),
         url('fonts/jetbrainsmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'jetbrains_monobold';
    src: url('fonts/jetbrainsmono-bold-webfont.woff2') format('woff2'),
         url('fonts/jetbrainsmono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: "jetbrains_monoregular", monospace;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    display: flex;
    min-height: 100vh;
}

#left-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    background-image: url(img/coffee.jpg);
    background-size: cover;
    text-align: center;
    justify-content: space-between;
}

#right-container {
    flex: 2;
    position: relative;
    padding: 5rem 3rem;
    font-size: 2rem;
}

#credit {
    bottom: 0;
    color: whitesmoke;
}

#credit a {
    color: burlywood;
}

.bold {
    font-family: 'jetbrains_monobold', monospace;
}

form {
    margin: 2rem 0;
}

label {
    font-size: 1.5rem;
    position: absolute;
    top: -2rem;
}

#input-container > div {
    position: relative;
}

#input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 3rem 0;
}

button {
    padding: 1rem;
    background-color: burlywood;
    border-radius: 1rem;
    border-style: none;
}

button:hover {
    background-color: rgb(194, 159, 113);
}